/* ---INICIO FOOTER --- */
@import '../base/maps';


.footer {
    background-color: rgb(39, 39, 39);
    width: map-get($generales, anchoSecciones);
    margin: auto;
}

.footer p {
    margin-bottom: 0px;
}

.footer .section-s-d {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.direccion, .socials {
    padding: 6px;
}

.socials .social-icono {
    font-size: 25px;
    padding: 4px;
    color:rgb(161, 161, 161);
}

.socials .social-icono:hover {
    color: rgb(255, 255, 255);
}


.direccion, .phone, .copyright {
    color:map-get($generales , colorParrafo);
}

.copyright {
    text-align: center;
    background-color: rgb(31, 31, 31);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgb(48, 48, 48);
}



/* ---FIN FOOTER --- */