/* -------------------------- */
/* ---ICON FIXED WHATSAPP --- */

.fixed-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: all .3s;
}

.fixed-icon:hover{
    transform: translateY(-5px);
}

/* --- FIN ICON FIXED WHATSAPP --- */
/* ------------------------------- */