$generales: (
    colorParrafo: white,
    colorSecciones: #171717,
    colorSecciones2: #161616,
    anchoSecciones: 60%,
    margenSecciones: auto,
    colorFooter: rgb(39, 39, 39),
    colorFooterCopyR: rgb(31, 31 ,31),
    bordeFooter: 1px solid rgb(48, 48, 48)
);